html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.character {
  text-align: center;
}

.takeFull {
  height: 90%;
  margin: 0;
  font-size: 20px;
  padding: 20px;
}

.ProseMirror:focus {
  outline: none;
}
